.skill-wrapper {
  background-color: var(--color-primary);
  color: var(--color-text);
}

.list {
  display: grid;
  width: 100%;
  row-gap: 1.4rem;
  list-style: none;
}

.category {
  display: grid;
  justify-content: center;
  font-family: var(--font-secondary);
  font-size: var(--font-md);
  font-weight: var(--font-secondary-weight);
}

.skill-set {
  row-gap: 1.2rem;
  text-align: center;
  padding-top: 1rem;
  font-family: var(--font-secondary);
  font-size: var(--font-sm);
  font-weight: var(--font-secondary-weight);
  color: var(--color-text);
  margin-bottom: 3rem;
}

.skill-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  justify-content: center;
  gap: 1.2rem;

  @media only screen and (min-width: 700px) {
    grid-template-columns: repeat(3, 16rem);
    grid-auto-rows: 3rem;
 }

 @media only screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 18rem);
    grid-auto-rows: 3rem;
 }
}