.section {
  display: grid;
  justify-items: center;
  row-gap: 3rem;
  padding: 6rem;

  h2 {
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
  }

  p {
    font-size: 2rem;
    font-family: var(--font-secondary);
  }

  @media only screen and (min-width: 700px) {
    padding: 10rem;
  }
}