:root {
  --color-grey: #37322E;
  --color-white: #FEFFFF;

  // Clean and Modern Theme
  --color-primary: #2B7A78;
  --color-secondary: #3aafa9;
  --color-accent: #17252A;
  --color-text: #FEFFFF;
  --color-text-2: #DEF2F1;
}