:root {
  --color-github: #000000;
  --color-email: #76A15D;
  --color-linkedin: #2867b2;
  --color-grey: #37322E;
  --color-text: #37322E;
  --color-primary: #ADEFD1FF;
  --color-secondary: #EDEBE2;
  --color-accent: #00203FFF;
}